html, body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #00000b;
    height: 100vh;
    color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header{
    margin-bottom: 48px;
    margin-top: 96px;
    font-size: 24px;
    font-weight: 900;
    padding: 30px;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

#scoreboard{
    margin-bottom: 48px;
    justify-content: center;
}

#player, #computer{
    justify-content: center;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.score, #result{
    border: 5px solid aquamarine;
    border-radius: 10px;
}

.score{
    width: 60px;
    height: 100px;
}

p{
    font-size: 24px;
    padding: 8px;
}

img{
    height: 175px;
    width: auto;
    border-radius: 20px;
    margin: 16px;
    padding: 16px;
    transition: all .2s;
}

.selected{
    transform: scale(1.1);
    border-color: aquamarine;
    box-shadow: 0 0 10px aquamarine;
}

#start{
    border: 5px solid aquamarine;
    border-radius: 20px;
    height: 100px;
    width: 240px;
    padding: 16px;
    font-size: 48px;
    font-weight: 900;
    color: aquamarine;
    background-color: #00000b;
}

#footer{
    background-color: #00003b;
    display: flex;
    justify-content: center;
    padding: 12px;
    margin-top: 12px;
}