html, body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #00000b;
    height: 100vh;
    color: aquamarine;
}

#header{
    margin-bottom: 48px;
    margin-top: 96px;
    font-size: 24px;
    font-weight: 900;
    padding: 30px;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

p{
    font-size: 24px;
}

img{
    height: 200px;
    width: auto;
    border-radius: 20px;
    margin: 16px;
    padding: 16px;
}

#start{
    border: 5px solid aquamarine;
    border-radius: 20px;
    height: 100px;
    width: 240px;
    padding: 16px;
    font-size: 48px;
    font-weight: 900;
    color: aquamarine;
    background-color: #00000b;
}